[submodule "python"]
	path = python
	url = https://github.com/mmore500/downstream
	branch = python
[submodule "zig"]
	path = zig
	url = https://github.com/mmore500/downstream
	branch = zig
[submodule "csl"]
	path = csl
	url = https://github.com/mmore500/downstream
	branch = csl
