name: Release
on:
  workflow_dispatch:
    inputs:
      bump_type:
        description: 'Version bump type'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python3 -m pip install setuptools pip --upgrade
          python3 -m pip install bumpver
      - name: Configure Git
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Update cpp version
        working-directory: ./cpp
        run: |
          git checkout cpp
          bumpver update --${{ github.event.inputs.bump_type }}
      - name: Update zig version
        working-directory: ./zig
        run: |
          git checkout zig
          bumpver update --${{ github.event.inputs.bump_type }}
      - name: Update csl version
        working-directory: ./csl
        run: |
          git checkout csl
          bumpver update --${{ github.event.inputs.bump_type }}
      - name: Update python version
        working-directory: ./python
        run: |
          git checkout python
          bumpver update --${{ github.event.inputs.bump_type }}
      - name: Update rust version
        working-directory: ./rust
        run: |
          git checkout rust
          bumpver update --${{ github.event.inputs.bump_type }}
      - name: Update main version
        run: |
          git add .
          git commit -m "Update subrepo versions"
          bumpver update --${{ github.event.inputs.bump_type }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade "setuptools==69.2.0"
          python -m pip install -r python/requirements.txt
      - run: python setup.py sdist bdist_wheel
        working-directory: ./python
      - name: Publish Python package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: python/dist
      - name: Publish Rust crate
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cp -r rust /tmp
          pushd /tmp/rust
          cargo publish
          popd
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Extract Python package version
        id: python_version
        working-directory: ./python
        run: |
          VERSION="$(python3 -c "from downstream._version import __version__; print(__version__)")"
          echo "version=v${VERSION}" >> $GITHUB_OUTPUT
      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./python
          push: true
          tags: ghcr.io/mmore500/downstream:latest,ghcr.io/mmore500/downstream:${{ steps.python_version.outputs.version }}
